.container{
    background-color: white !important;
    min-width: 100%;
    padding: 0;
}
.navbar{
    padding: 0;
}

.navbar-brand{
    font-family: "Georgia", Times, Times New Roman, serif;
    padding: 0 40px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    margin: 0;
    background-color: #4aaaa5;
    color: white !important;
}

#navbarNav{
    padding: 0 40px;
}

.bg-light {
    background-color: white !important;
}

.navbar-collapse{
    z-index: 1000;
    background: white;
}

.row{
    margin: 0;
}

.content-container{
    margin-top: 40px;
    padding: 20px 40px;
    min-width: 100%;
    min-height: calc( 100vh - 200px);
    border: solid 1px #dddddd;
    background-color: white;
    overflow: hidden;
}

.content-container img{
    float: left;
    padding: 0 20px 0 0;
}

/* Style the heading inside the container */
.content-container h2{
    font-family: "Georgia", Times, Times New Roman, serif;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 2px #dddddd;
    color: #4aaaa5;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  /* Style all paraghraphs within the content container */
  .content-container p{
    line-height: 1.75em;
    color: #777777;
  } 



.header{
    height: 60px;
}

.main-background{
    min-width: 100%;
    min-height: calc(100vh - 60px);
    background-image: url(images/background.png);
}